@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .thumbs-wrapper {
    display: flex;
    justify-content: center;
}

.carousel .thumb {
    margin: 0 5px; /* Adjust spacing between thumbnails */
}

.carousel .thumbs {
    justify-content: center;
}
